td {
  width: 30px;
  height: 30px;
  border: 1px solid #9fd6ff;
  box-sizing: border-box;
}

.start {
  background-image: url('/public/images/start-pin.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: grab;
}

.start:active,
.end:active,
.target:active {
  cursor: grabbing;
}

.end {
  background-image: url('/public/images/end-pin.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  cursor: grab;
  /* animation: pulse-animation 2s infinite; */
}

.visited {
  background: #034078; /* need var */
  border: none;
}

.unvisited {
  background-color: transparent;
}

.wall {
  background: #0a2b38;
  border: none;
  cursor: pointer;
}

.target {
  background-image: url('/public/images/target.svg');
  background-repeat: no-repeat;
  background-position: 50% 35%;
  cursor: pointer;
  /* animation: pulse-animation 2s infinite; */
}

.weight {
  background-image: url('/public/images/weight.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.shortest-path {
  background: #ad0000;
  border: none;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(153, 255, 153, 1);
  }
  100% {
    box-shadow: 0 0 100px 15px rgba(153, 255, 153, 0);
  }
}