:root {
  --navBGcolor: #034078;
}

.nav {
  background-color: var(--navBGcolor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.options {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.options > * {
  padding-right: 20px;
  padding-left: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--navBGcolor);
  min-width: 160px;
  padding: 20px 16px;
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: grid;
}

.dropdown-content > button {
  margin-top: 15px;
  text-align: left;
  border-radius: 5px 15px 15px 5px;
}

button:hover {
  background-color: white;
  color: var(--navBGcolor);
}
